<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us - Diary App</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>

  <div class="container">
    <h2>Our Mission</h2>
    <p>Our diary app is designed to help you capture your thoughts, reflect on your daily experiences, and gain insights into your personal growth. We believe that journaling is a powerful tool for self-reflection, mental wellness, and achieving your dreams.</p>

    <h2>Our Vision</h2>
    <p>We aim to empower individuals to understand their personal journeys better, track their progress over time, and receive personalized guidance that supports their aspirations.</p>

    <h2>What We Offer</h2>
    <ul>
      <li><strong>Daily Journaling</strong><br>
        Capture your thoughts, feelings, and experiences every day in a secure and user-friendly environment. Our app makes it easy to record your reflections, ensuring that no moment goes unnoticed.
      </li>
      <li><strong>Insightful Reflections</strong><br>
        Over time, your diary entries help you see patterns and trends in your personal journey. The app organizes your entries, so you can revisit and reflect on past experiences to gain valuable insights.
      </li>
      <li><strong>Secure and Private</strong><br>
        Your privacy is our top priority. All your data is securely stored, ensuring that your personal diary remains confidential and protected.
      </li>
    </ul>

    <h2>About the Team</h2>
    <p>Our team is passionate about technology and personal development. We collaborated to build this app with the goal of making self-reflection and personal growth accessible to everyone.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions, feedback, or suggestions, feel free to reach out at 
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=lifelog1feedback@gmail.com&su=Feedback%20for%20LifeLog&body=Dear%20LifeLog%20Team%2C%0A%0AI%20would%20like%20to%20share%20the%20following%20feedback..." target="_blank">
        lifelog1feedback@gmail.com
      </a>
      
      or connect with us on our social media channels.
    </p>
     <!-- Back Button -->
  <button class="back-button" onclick="navigateBack()">Back</button>
 
  <script src="{% static 'js/about.js' %}"></script>
    
 

</body>
</html>